// Variables
$ember-mdi-css-class: "mdi-icon";

// Main
.#{$ember-mdi-css-class} {
  display: inline-block;
  vertical-align: middle;
}

// Animation
.#{$ember-mdi-css-class}-spin {
  animation: #{$ember-mdi-css-class}-spin 2s infinite linear;
}

@keyframes #{$ember-mdi-css-class}-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
