@each $degree in $ember-mdi-degrees {
  .#{$ember-mdi-css-class}-rotate-#{$degree}{
    transform: rotate(#{$degree}deg);
  }
}

.#{$ember-mdi-css-class}-flip-h {
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.#{$ember-mdi-css-class}-flip-v {
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV";
}
