$spacer: 1rem;

$spacers: (
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
);

$blue: #2196F3;
$form-group-margin-bottom: map-get($spacers, 2);

$border-radius: 0;
$border-radius-lg: $border-radius;
$border-radius-sm: $border-radius;
