body {
  padding-top: 4em;
  padding-bottom: 4em;
}

pre {
  padding: $spacer / 2;
  background-color: $gray-100;
}

code {
  background-color: $gray-100;
}

.demo-icon {
  padding: $spacer;
  margin: 0 map-get($spacers, 1) map-get($spacers, 2) map-get($spacers, 1);
  border: solid 1px $border-color;
  cursor: pointer;
}

.demo-icon-preview {
  border: solid 1px $border-color;

  &-name {
    text-align: center;
    font-size: $font-size-lg;
  }

  &-icon {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: map-get($spacers, 5);
  }
}
