::selection {
  color: $white;
  background: $blue;
}

body {
  background-color: $blue;
  background-image: url("images/pattern.svg");
  background-attachment: fixed;
}

.container {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: $white;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

pre {
  padding: $spacer / 2;
  background-color: $gray-100;
}

code {
  background-color: $gray-100;
}

.demo-icon {
  display: inline-block;
  padding: $spacer;
  margin-right: 2px;
  margin-bottom: 2px;
  border: solid 1px $border-color;
  cursor: pointer;
}

.demo-icon-preview {
  border: solid 1px $border-color;

  &-name {
    text-align: center;
    font-size: $font-size-lg;
  }

  &-icon {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: map-get($spacers, 5);
  }
}
