body {
  // background-color: $blue;
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
  background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
}

.container {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: $white;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.5);
}

pre {
  padding: $spacer / 2;
  background-color: $gray-100;
}

code {
  background-color: $gray-100;
}

.demo-icon {
  display: inline-block;
  padding: $spacer;
  margin-right: 2px;
  margin-bottom: 2px;
  border: solid 1px $border-color;
  cursor: pointer;
}

.demo-icon-preview {
  border: solid 1px $border-color;

  &-name {
    text-align: center;
    font-size: $font-size-lg;
  }

  &-icon {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: map-get($spacers, 5);
  }
}
