@import "modern-normalize";
@import "ember-mdi";

.loading-indicator {
  margin: auto;
}

body {
  height: 100vh;
  color: #4c4962;
  display: flex;

  & > aside {
    background-color: #f2f2f2;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 320px;
  }

  & > main {
    flex: 1;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

h1 {
  margin: 0;
}

a {
  color: #bf6c35;
}

.github-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4c4962;
  border: none;
  text-align: center;
  color: white;
  padding: 0.5rem;
  text-decoration: none;
  margin-top: auto;

  .mdi-icon {
    margin-right: 0.5rem;
  }
}

.d-none {
  display: none;
}

.mdi-icon {
  fill: #4c4962;
}

.demo-icons {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(34px, 1fr));
  grid-gap: 2vw;
  margin-bottom: 1rem;

  .demo-icon {
    cursor: pointer;
  }
}

.search-field {
  font-size: 1rem;
  padding: 8px 12px;
  margin-bottom: 1rem;
  border: 1px solid #f2f2f2;
  display: block;
  width: 100%;
}

input[type="checkbox"] {
  display: inline;
}

select,
input[type="range"] {
  width: 100%;
  display: block;
}

.mb-1 {
  margin-bottom: 1rem;
}

.demo-icon-code {
  margin-bottom: 1rem;
  padding: 0.75rem;
  background-color: wheat;
}

.demo-icon-preview {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 1rem;
}

.demo-icon-settings {
  display: grid;
  grid-template-columns: [labels] auto [controls] 1fr;
  grid-auto-flow: row;
  grid-gap: 0.5rem;

  & > .label {
    grid-column: labels;
    grid-row: auto;
    margin-bottom: 0.5rem;
  }

  & > .control {
    grid-column: controls;
    grid-row: auto;
    margin-bottom: 0.5rem;
  }
}
