:root {
  --ember-mdi-spin-delay: .65s;
  --ember-mdi-spin-iteration-count: infinite;
  --ember-mdi-spin-timing-function: linear;
}

.md-icon {
  display: inline-block;
  fill: currentColor;
}

.md-icon-animation-spin {
  animation: md-icon-animation-spin var(--ember-mdi-spin-delay) var(--ember-mdi-spin-iteration-count) var(--ember-mdi-spin-timing-function);
}

@keyframes md-icon-animation-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
