<div class="container">
  <div class="row mb-5">
    <div class="col">
      <h1>Ember Material Design Icons (ember-mdi)</h1>
      <h2 class="h4 "><em>Based by <a href="https://materialdesignicons.com/" title="materialdesignicons.com">materialdesignicons.com</a></em> — {{icons.icons.length}} icons.</h2>

    </div>
    <div class="col-auto">
      <a href="https://github.com/kaermorchen/ember-mdi" ttile="Ember Loaders" class="btn btn-primary btn-lg">View on Github</a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
          {{link-to "Getting Started" "index" class="nav-link"}}
        </li>
        <li class="nav-item">
          {{link-to "Icons" "icons" class="nav-link"}}
        </li>
      </ul>
    </div>
  </div>

  {{outlet}}
</div>
