<div class="container">
  <div class="row">
    <div class="col">
      <h1>Ember Material Design Icons (ember-mdi)</h1>
      <h2 class="h4 "><em>Powered by <a href="https://materialdesignicons.com/" title="materialdesignicons.com">materialdesignicons.com</a></em></h2>

    </div>
    <div class="col-auto">
      <a href="https://github.com/kaermorchen/ember-mdi" ttile="Ember Loaders" class="btn btn-primary btn-lg">View on Github</a>
    </div>
  </div>

  <div class="row">

  </div>
</div>
